# https://circleci.com/docs/2.0/sample-config/#sample-configuration-with-sequential-workflow
version: 2
jobs:
  lint:
    docker:
      - image: circleci/node:latest
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package-lock.json" }}
            - v1-dependencies-
      - run:
          name: Install dependencies
          command: npm install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package-lock.json" }}
      - run:
          name: Run linting
          command: npm run lint

  test:
    docker:
      - image: circleci/node:latest
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package-lock.json" }}
            - v1-dependencies-
      - run:
          name: Install dependencies
          command: npm install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package-lock.json" }}
      - run:
          name: Run tests
          command: npm run test::CI

  build_and_deploy:
    docker:
      - image: circleci/node:latest
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package-lock.json" }}
            - v1-dependencies-
      - run:
          name: Build and deploy to gh-pages
          command: |
            git config --global user.email $GH_EMAIL
            git config --global user.name $GH_NAME

            export REACT_APP_BUILD=$CIRCLE_SHA1
            export REACT_APP_BUILD_URL=$CIRCLE_BUILD_URL

            npm run build

            mkdir build/.circleci

            cp -a .circleci/. build/.circleci

            npm run deploy

            echo "Finished deploying to Github Pages!"

workflows:
  version: 2
  build_and_test:
    jobs:
      - lint:
          filters:
            branches:
              ignore: gh-pages
      - test:
          requires:
            - lint
          filters:
            branches:
              ignore: gh-pages
      - build_and_deploy:
          requires:
            - test
          filters:
            branches:
              only: main
