# https://circleci.com/docs/2.0/sample-config/#sample-configuration-with-sequential-workflow
version: 2
jobs:
  build_and_test:
    docker:
      - image: circleci/node:8
    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "main/package.json" }}
          - v1-dependencies-
      - run:
          name: Install dependencies
          command: cd main && npm install
      - save_cache:
          paths:
            - main/node_modules
          key: v1-dependencies-{{ checksum "main/package.json" }}
      - run:
          name: Run tests
          command: cd main && npm test

  deploy:
    docker:
      - image: circleci/node:8
    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "main/package.json" }}
          - v1-dependencies-
      - run:
          name: Build and deploy to gh-pages
          command: |
            git config --global user.email $GH_EMAIL
            git config --global user.name $GH_NAME

            REACT_APP_BUILD=$CIRCLE_SHA1
            REACT_APP_BUILD_URL=$CIRCLE_BUILD_URL

            echo "build set --> ${REACT_APP_BUILD}"
            echo "url set --> ${REACT_APP_BUILD_URL}"
            echo "sha1 --> ${CIRCLE_SHA1}"
            echo "circle url --> ${CIRCLE_BUILD_URL}"

            cd main

            npm run build

            mkdir build/.circleci

            cp -a ../.circleci/. build/.circleci

            npm run deploy

            echo "Finished deploying to Github Pages!"

workflows:
  version: 2
  build_and_test:
    jobs:
      - build_and_test:
          filters:
            branches:
              ignore: gh-pages
      - deploy:
          requires:
            - build_and_test
          filters:
            branches:
              only: master
