.main-header {
  margin-top: 30px;
  margin-bottom: 30px;
}

.main-header h1 {
  margin: 0;
}

.content-filter {
  padding: 0 28px;
}

.content-filter input {
  font-size: 17px;
  padding: 20px 10px;
}

.content-list {
  margin-top: 60px;
  margin-bottom: 60px;
}
.form-control {
  border: 1px solid #b5bac5;
  color: unset;
}
.content-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
.content-list ul li {
  box-shadow: 0 2px 5px 0 rgba(224, 227, 231, 0.7);
  background: #fff;
  padding: 2rem;
}

.content-list ul li + li {
  margin-top: 60px;
}
.row {
  margin: 0;
  padding: 2rem;
}
.item-thumbnail {
  max-width: 30%;
  min-width: 175px;
}
.item-thumbnail img {
  max-width: 100%;
}
.item-info {
  max-width: 70%;
  flex: 1;
}
.item-imdb {
  display: block;
  margin-top: 10px;
}

.item-imdb span,
.item-link {
  font-style: italic;
  margin-right: 5px;
}

.details__item + .details__item {
  margin-top: 5px;
}

.details__item span {
  font-weight: bold;
}

.mainContainer {
  height: 100%;
  overflow: hidden;
}

.headerContainer {
  align-items: center;
  background: #fff;
  box-shadow: 0px 4px 15px rgba(100, 110, 130, 0.1);
  display: grid;
  grid-template-columns: auto 1fr auto;
  z-index: 1;
}

.logoContainer {
  display: grid;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 0 28px;
}

.logoContainerShadow {
  box-shadow: 0px 4px 15px rgba(100, 110, 130, 0.1);
}

.logoImage {
  align-self: center;
  justify-self: left;
  max-width: 100%;
  max-height: 50px;
  font-size: 28px;
  color: #00daad;
}

.searchContainer {
  padding: 0 36px;
  position: relative;
}

.topMenuContainer {
  align-items: center;
  display: grid;
  grid-gap: 24px;
  grid-template-columns: min-content min-content;
  justify-self: right;
  padding: 0 36px;
}

.menuItem {
  justify-self: end;
}

.imageWaraper {
  display: grid;
}
.imageWaraper svg {
  align-self: center;
  justify-self: center;
  cursor: pointer;
  border-radius: 50%;
}

.item-image {
  max-width: 100%;
  margin: 0 auto;
}

.item-link {
  display: inline-block;
  margin: 0;
}

/* Footer */
footer#footer {
  width: 100%;
}

footer#footer .container {
  border-top: 1px solid #CCC;
  padding: 3rem 0 2rem;
}

footer#footer .links {
  display: flex;
  justify-content: center;
}

footer#footer .links li {
  padding: 0 1rem;
}

footer#footer .links li a {
  font-weight: bold;
  color: rgb(var(--dark-persian-blue));
}

footer#footer .links img {
  width: 24px;
  height: 24px;
}

footer#footer .links span {
  margin-left: .5rem;
}

footer#footer .version {
  text-align: center;
}

@media (max-width: 767px) {
  .item-image {
    min-width: 100%;
    margin-bottom: 1rem;
  }

  .item-thumbnail {
    max-width: 100%;
  }

  .item-info {
    max-width: none;
    padding: 0;
  }

  .logoImage {
    font-size: 24px;
  }

  .headerContainer {
    display: block;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .content-list ul li + li {
    margin-top: 30px;
  }
}

@media (min-width: 768px) {
  .item-card {
    display: flex;
  }

  .item-thumbnail {
    margin-right: 30px;
  }

  .item-image {
    width: 266px;
    height: auto;
  }

  .headerContainer {
    height: 60px;
  }
}
