*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  color: #404040;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.6;
  letter-spacing: 0.3px;
  background: #fafbfd;
}

#root {
  height: 100%;
}

.rootContainer {
  height: 100%;
  overflow: hidden;
}

/* style guide common character css */
h1 {
  font-size: 3.2rem;
  font-weight: 600;
  letter-spacing: -0.6px;
  line-height: initial;
}

/* Made font-weight normal as it fixes issue #166, which concerns with bold styles for genres */
h2 {
  font-size: 2.4rem;
  font-weight: normal;
  letter-spacing: -0.4px;
  line-height: initial;
}

h3 {
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: normal;
  font-style: normal;
  font-stretch: normal;
}

h4 {
  font-size: 1.6rem;
  font-weight: normal;
  letter-spacing: normal;
  line-height: initial;
}

h5 {
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: 0.2px;
}

h6 {
  font-size: 1.3rem;
  font-weight: normal;
  letter-spacing: 0.3px;
  line-height: initial;
}

.input {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.3px;
  border-radius: 3px;
  padding: 0 1rem;
  border: 1px solid #B5BAC5;
}

label,
.label {
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 0.4px;
}

input::placeholder {
  font-size: 1.3rem;
  letter-spacing: 0.3px;
  color: #BDC3C7;
}

small {
  font-size: 1.2rem;
  font-weight: normal;
  letter-spacing: 0.2px;
  color: #BDC3C7;
}

.link {
  color: #19B5FE;
  cursor: pointer;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}

.filter-labels {
  padding: 1rem 1rem 0;
}

.filter-year {
  margin-right: 8px;
}

.filter-div {
  margin: 1em;
}

@media only screen and (min-width: 1600px) {
  html {
    font-size: 11px;
  }
  body {
    font-size: 1.45rem;
  }
}
