body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
  padding: 0;
}
.one {
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.two {
  display: none;
}
